Package: com.johnnywaity.continuity
Name: Continuity
Depends: mobilesubstrate, com.mrgcgamer.libgcuniversal
Version: 1.0
Architecture: iphoneos-arm
Description: Scrollable Wallpapers
Maintainer: waruhachi
Author: Johnny Waity
Section: Tweaks
