<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnnywaity.continuity.preferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.johnnywaity.continuity.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcImagePickerCell</string>
			<key>label</key>
			<string>Wallpaper</string>
			<key>defaults</key>
			<string>com.johnnywaity.continuity.preferences</string>
			<key>key</key>
			<string>wallpaper</string>
			<key>usesPhotos</key>
			<true/>
			<key>usesVideos</key>
			<false/>
			<key>videoQuality</key>
			<integer>0</integer>
			<key>dependsOn</key>
			<string>enabled</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Apply</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Respring</string>
            <key>action</key>
            <string>respring</string>
            <key>confirmation</key>
            <dict>
                <key>prompt</key>
                <string>Are you sure you want to continue?</string>
                <key>title</key>
                <string>Respring</string>
                <key>cancelTitle</key>
                <string>Cancel</string>
            </dict>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcSocialCell</string>
			<key>userName</key>
			<string>Johnny Waity</string>
			<key>subtitle</key>
			<string>Creator</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>pfpURL</key>
			<string>https://avatars.githubusercontent.com/u/22650167</string>
			<key>URL</key>
			<string>https://github.com/johnnyjwaity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcSocialCell</string>
			<key>userName</key>
			<string>waruhachi</string>
			<key>subtitle</key>
			<string>Maintainer</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>pfpURL</key>
			<string>https://avatars.githubusercontent.com/u/156133757</string>
			<key>URL</key>
			<string>https://github.com/waruhachi</string>
		</dict>
	</array>
	<key>title</key>
	<string>Continuity</string>
</dict>
</plist>
